@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/colors";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";


/* Custom styles */

body {
  background: url('images/background.png');
  width: 1920px;
  height: 1080px;
  color: $sports-white;
  color:  white;
}

/* Top Nav Bar */
.top-nav-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 150px;
}

.circle-container {
  width: 90px;
  height: 90px;
}

.circle {
  width: 100%;
  border-radius:50%;
  border: 30px solid;
  border-color: $sports-dark-gray;
  text-align:center;
  font-size: 48px;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: #38a9e4;
  color: white;
}



.test-canvas {
  background-color: rgba(240, 240, 240,0.2);
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.stroop .activity-prop {
  background-color: rgba(140, 40, 240,0.8);
  width: 90px;
  height: 90px;
}

.gono-go .activity-prop {
  background-color: rgba(240, 40, 140,0.8);
  width: 120px;
  height: 60px;
}

.working-memory .activity-prop {
  background-color: rgba(40, 240, 140,0.8);
  width: 70px;
  height: 150px;
}

.active-nav {
  background-color: rgba(55, 240, 10, 0.6);
}

.inactive-nav {
  background-color: none;
}

.inactive-nav {
  background-color: none;
}

.your-score {
  font-weight: bolder;
  background-color: rgba(55, 240, 10, 0.6);
}
