@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";


/* Custom styles */

.test-canvas {
  background-color: rgba(40, 40, 40,0.2);
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.stroop .activity-prop {
  background-color: rgba(140, 40, 240,0.8);
  width: 90px;
  height: 90px;
}

.gono-go .activity-prop {
  background-color: rgba(240, 40, 140,0.8);
  width: 120px;
  height: 60px;
}

.working-memory .activity-prop {
  background-color: rgba(40, 240, 140,0.8);
  width: 70px;
  height: 150px;
}