@import "base/extends";
@import "base/animations";
@import "base/forms";
@import "base/colors";
@import "base/fonts";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";


/* Custom styles */

body {
  background: url('images/background.png');
  width: 1920px;
  height: 1080px;
  color: $sports-white !important;
  font-family: 'Avenir Next Condensed';
}

/* Top Navigation */
.top-nav-container {
  position: absolute;
  top: 40px;
  left: 0px;
  height: 150px;
}

.nav-item {
  position: absolute;
  float: left;
  width: 600px;
}

.nav-item.first {
  left: 295px;
}

.nav-item.second {
  left: 847px;
}

.nav-item.third {
  left: 1423px;
}

.nav-item.active .circle {
  border-color: $sports-yellow;
}

.nav-item.inactive .circle {
  border-color: $sports-dark-gray;
}

.nav-item.active .nav-title {
  color: $sports-yellow;
}

.nav-item.inactive .nav-title {
  color: $sports-gray;
}

.nav-item .nav-title {
  padding-left: 20px;
  margin-top: 35px;
  font-size: 24px;
  float: left;
}

.circle {

  float: left;
  text-align:center;
  font-size: 48px;
  background: $sports-white;
  border: 15px solid;
  border-color: $sports-dark-gray;
  padding-top: 2%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: $sports-black;
  margin:0px;

}

/* Main Content Area */
.main-container {
  position:absolute;
  top: 178px;
  left: 237px;
  width: 1443px;
  height: 906px;
  background-color: $sports-dark-gray;
}

.main-container .headband {
  position:absolute;
  top: 60px;
  left: -15px;
  width: 1473px;
  height: 134px;
  background-color: $sports-orange;
}

.main-container .lower-body {
  position:absolute;
  top: 197px;
  left: 0px;
  width: 100%;
  background-color: none;
}

.headband .leftAlign {
  text-align: left;
  padding-left: 68px;
  padding-top: 20px;
  font-size: 45px;
}

.headband .centered {
  text-align: center;
  text-transform: uppercase;
  font-size: 90px;
}

/* Intro (horizontally divided) */
.lower-body .divide-intro {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
}

.lower-body .divide-intro .intro {
  width: 730px;
  margin: 0 auto;
  margin-top: 90px;
  text-align: left;
}

.lower-body .divide-intro .instruct {
  margin-top: 100px;
  height: 200px;
}

.lower-body .divide-intro .tag {
  color: $sports-yellow;
  margin-left: 40px;
}

.lower-body .divide-intro .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 46px 79.7px 46px;
  border-color: transparent transparent #ffffff transparent;
}

.test-canvas {
  background-color: rgba(240, 240, 240,0.2);
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.stroop .activity-prop {
  background-color: rgba(140, 40, 240,0.8);
  width: 90px;
  height: 90px;
}

.gono-go .activity-prop {
  background-color: rgba(240, 40, 140,0.8);
  width: 120px;
  height: 60px;
}

.working-memory .activity-prop {
  background-color: rgba(40, 240, 140,0.8);
  width: 70px;
  height: 150px;
}

.your-score {
  font-weight: bolder;
  background-color: rgba(55, 240, 10, 0.6);
}
