$sports-yellow: #ebed4f;
$sports-orange: #f26322;
$sports-white: #ffffff;
$sports-light-gray: #afafaa;
$sports-mid-gray: #3d3d3d;
$sports-dark-gray: #2e2e2d;
$sports-black: #231f20;
$debug-color: rgba(0,255,25,0.35);