$sports-yellow: #fdff5f;
$sports-orange: #fa5423;
$sports-white: #ffffff;
$sports-light-gray: #c5d1cf;
$sports-mid-gray: #3d3e3d;
$sports-dark-gray: #2e2e2d;
$sports-black: #231f20;
$debug-color: rgba(0,255,25,0.35);